<!DOCTYPE html>
<html class="page" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/style.css">
  <title>Lab 2</title>
</head>
<body class="body">
    <header class="header">
      <h1>Double permutation method</h1>
    </header>
    <main class="main">
      <form action="POST" class="form">
        <label>Decrypted text<input type="text" class="decrypted-text input"></label>
        <label>Encrypted text<input type="text" class="encrypted-text input"></label>
        <label>Table size<input type="number" class="table-size input"></label>
        <label>X key<input class="x-key input"></label>
        <label>Y key<input class="y-key input"></label>
        <!-- <div> -->
          <input type="button" class="encrypt" value="encrypt">
          <!-- <input type="button" class="decrypt" value="decrypt"> -->
        <!-- </div> -->
      </form>
    </main>
    <script src="../static/scripts/index.js"></script>
</body>
</html>